@charset "UTF-8";
/* CSS Document */

#subwrap #sub_main{margin-top:90px; display:inline-block; width:1260px; height:228px; border:#d1cfcf solid 1px; background:url(../images/recruitnotice.png) center; text-indent:-9999px; }